<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <main>
        <div class="checkout-content">
            <% if (cartItems.length === 0) { %>
                <p>No product to checkout.</p>
            <% } else { %>
    
                <h2>Your order :</h2>
    
                <table>
                    <tr>
                        <th class="visible title">Product Title</th>
                        <th class="visible">Unit Price</th>
                        <th class="visible">Quantity</th>
                    </tr>
                    <% for (let cartItem of cartItems) { %>
                        <tr>
                            <td class="visible"><%= cartItem.product.title %></td>
                            <td class="visible center">$<%= cartItem.product.price.toFixed(2) %></td>
                            <td class="visible center"><%= cartItem.quantity %></td>
                        </tr>
                    <% } %>    
                </table>
                
                <p>Total cart price : <b>$<%= totalPrice.toFixed(2) %></b></p>

                <div>
                    <button class="btn" id="order-btn">Pay</button>

                    <!-- Stripe 3rd party script for payment -->
                    <script src="https://js.stripe.com/v3/"></script>

                    <script>
                        // create a handler to call the Stripe API
                        var stripe = Stripe("<%= stripePublicKey %>");
                        // make the pay button call the Stripe API with the provided session
                        var orderBtn = document.getElementById("order-btn");
                        orderBtn.addEventListener("click", function() {
                            stripe.redirectToCheckout({ sessionId: "<%= sessionId  %>" });
                        });
                    </script>
                </div>

            <% } %>
        </div>
    </main>
</body>
</html>